<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index_v4.css">
    <link rel="icon" href="../static/favicon_2.ico">

    <!-- social media list top page-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- social media list top page-->

    <title>MFX-BOT CONTROL</title>
</head>
<body>

    <div class="social_md">
        <span><a href="https://www.youtube.com/channel/UC4JMOTgAy32O7BfJBDLREKQ" target="_blank" class="fa fa-wifi fa-lg"></a></span>
        <span><a href="../html_pages/about.html">Good</a></span>&nbsp;&nbsp;
        <span><a href="https://www.youtube.com/channel/UC4JMOTgAy32O7BfJBDLREKQ" target="_blank" class="fa fa-battery-full fa-lg"></a></span>
        <span><a id="power" href="../html_pages/about.html"></a></span>&nbsp;&nbsp;

        <!--<span><a href="https://www.youtube.com/channel/UC4JMOTgAy32O7BfJBDLREKQ" target="_blank" class="fa fa-youtube"></a></span>&nbsp;&nbsp;
        <span><a href="https://instagram.com/makin_afleo?igshid=MmIzYWVlNDQ5Yg==" target="_blank" class="fa fa-instagram"></a></span>&nbsp;&nbsp;
        <span><a href="mailto:info@makinafleo.com" target="_blank" class="fa fa-envelope"></a></span>&nbsp;&nbsp;
        <span>|</span>&nbsp;&nbsp; 
        <span><a href="../html_pages/about.html">Tr</a></span>&nbsp;&nbsp; 
        <span><a href="../html_pages/about.html">Fr</a></span>&nbsp;&nbsp; --> 
    </div>

    <section id="sr1" class="ıot"> 
        <div class="video-wrapper">
            <img class="vid" src="{{ url_for('video_feed') }}">
            <a href="/html_pages/deneme_index.html"><img class="logo" src="../static/logo.png" alt=""></a>
          <!--<video preload="auto" playsinline autoplay muted loop muted>
            <source src="video/bg_web_video.mp4" type="video/mp4">
          </video>-->
          <!--<h1>Unmanned Vehicles & IoT Technology</h1>
          <P>Let's overcome the boundaries together</P>
          <span><p>
            <a href="" class="typewrite" data-period="1000" data-type='[ "Unmanned Ground Vehicles", "Unmanned Aerial Vehicles", "Unmanned Underwater Systems", "Smart Home", "Smart City", "Smart Factory" ]'>
              <span class="wrap"></span>
            </a>
          </p></span>-->
          <!-- icon direction down <i class="fa fa-chevron-down" style="font-size:100px"></i> -->

          <div class="right_top">
            <!--<h1>SENSOR</h1>-->
           <h1>DATA</h1>
            <p id="sure">Geçmiş süre : 0.0</p>
            <p id="heading">Heading : 0.0</p>
            <p id="basinc">Basınç : 0.0</p>
            <p id="yukseklik">yukseklik : 0.0</p>
            <p id="voltage">volt : 0.0</p>
            <p id="temp">Temp : 0.0</p>
            <p id="yaw">Yaw : 0.0</p>
            <p id="pitch">Pitch : 0.0</p>
            <p id="roll">Roll : 0.0</p>
           <!-- <p>YOL :</p>
            <p>HIZ :</p>
            <p>HEADING : °</p>
            <p>SÜRE :</p>
            <p>BASINÇ 0.0</p>
            <p>YÜKSEKLİK :</p>
            <p id="temperature">Roll : 0.0</p>
            <p id="humidity">Lat : 0.0</p>
            <p id="pressure">Long : 0.0</p>
          </div>-->

          <!--<div class="right_bottom">-->
            <!--<h1>ACIL STOP</h1>-->
            <!--<div class="button center">
              <input id="checkbox" type="checkbox">
              <div class="button-center center">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              </div>
          </div>-->
            <!--<P><span>ileri "W" &nbsp;&nbsp;</span>
            <span>Geri "X"</span></P>
            <p><span>Sol "A"&nbsp;&nbsp;</span>
            <span>Sağ "D"</span></p>
            <p><span>Stop "S"</span></p>
            <p><span>Kepçe on "Q"&nbsp;&nbsp;</span>
            <span>Kepçe off "E"</span></p>
            <p><span>lED on "Z"&nbsp;&nbsp;</span>
            <span>LED off "C"</span></p>-->

          <!--</div>-->

          

         <!-- <div class="left_bottom">
            <div class="button center">
              <input id="checkbox2" type="checkbox">
              <div class="button-center2 center">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              </div>
          </div> -->
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" 
                width="250" height="160" style="border:0;" allowfullscreen="" loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>-->
          </div>

          <div class="left_top">
            <h1>GÖREVLER</h1>
            <p>YABANCI OT : 0</p>
            <p>MARUL BİTKİ : 0</p>
          </div>

            <div class="mod">
                <p>MOD : OTONOM</p>
            </div>

            <div class="footer">
                <div class="footer_left">
                    <p id="Latitude">Lat : 0.0</p>
                    <p id="Longitude">Lat : 0.0</p>
                </div>
                <div class="footer_center">
                    <p id="hiz">Lat : 0.0</p>
                    <p id="alinan_yol">Yol : 0.0</p>
                </div>
                <div id="dateTime" class="footer_rigth">
                    <!--<p>14.03.2023 14:00:54</p>-->
                </div>
            </div>

        </div>

    </section>

      <script>
        if (!!window.EventSource) {
            var source = new EventSource('/sensor_data');

            source.onmessage = function(event) {
                var data = JSON.parse(event.data);
                document.getElementById('alinan_yol').textContent = 'Yol: ' + data.alinan_yol + ' m';
                document.getElementById('hiz').textContent = 'Hız: ' + data.hiz + ' m/s';
                document.getElementById('heading').textContent = 'Heading: ' + data.heading + ' °';
                document.getElementById('power').textContent = '' + data.power + ' %';
                document.getElementById('sure').textContent = 'Geçmiş süre : ' + data.sure + ' s';
                document.getElementById('basinc').textContent = 'Basınç : ' + data.basinc + ' hPa';
                document.getElementById('yukseklik').textContent = 'Yükseklik : ' + data.yukseklik + ' m';
                document.getElementById('voltage').textContent = 'Voltage : ' + data.voltage + ' V';
                document.getElementById('Latitude').textContent = 'Latitude : ' + data.Latitude;
                document.getElementById('Longitude').textContent = 'Longitude : ' + data.Longitude;
                document.getElementById('temp').textContent = 'Temp : ' + data.temp + ' °C';
                document.getElementById('yaw').textContent = 'Yaw : ' + data.yaw + ' °';
                document.getElementById('pitch').textContent = 'Pitch : ' + data.pitch + ' °';
                document.getElementById('roll').textContent = 'Roll : ' + data.roll + ' °';
            };

            source.onerror = function(event) {
                document.getElementById('temperature').textContent = 'Error receiving temperature data';
                document.getElementById('humidity').textContent = 'Error receiving humidity data';
                document.getElementById('pressure').textContent = 'Error receiving pressure data';
            };
        } else {
            document.getElementById('temperature').textContent = 'Your browser does not support Server-Sent Events.';
            document.getElementById('humidity').textContent = 'Your browser does not support Server-Sent Events.';
            document.getElementById('pressure').textContent = 'Your browser does not support Server-Sent Events.';
        }
    </script>

<script>
    // JavaScript code goes here
    function updateDateTime() {
        const dateTimeContainer = document.getElementById('dateTime');
        const now = new Date();
        const formattedDate = now.toLocaleDateString();
        const formattedTime = now.toLocaleTimeString();
        dateTimeContainer.textContent = `${formattedDate} ${formattedTime}`;
    }

    // Update the date and time every second
    setInterval(updateDateTime, 1000);

    // Initial call to display the date and time immediately when the page loads
    updateDateTime();
</script>
    
</body>
</html>